#userInput {
  width: 30%;
  height: 5vh;
  font-size: 2rem;
  border: none;
  outline: none;
  text-align: center;
  background-color: #8EE4AF;
  caret-color: #EDF5E1;
  color: #EDF5E1;
}

#userInput::placeholder {
  color: #EDF5E1;
  opacity: 40%;
  font-style: italic;
  text-align: center;
}